
body{
    text-align: center;
    background-color: orange;
    font-size: large;
    font-family: "Iowan Old Style";
}

#emotions {
    background-color: orangered;
    border-color: black;
    border-width: thick;
}

